@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.Customer.EntityPlural");
}

@section Head {
    @Html.Script("dynamic://Lookup.Store.CustomerCountry")
    @Html.Script("dynamic://Lookup.Store.CustomerCity")
    @Html.Script("dynamic://Lookup.Store.Employee")
    <script>var CKEDITOR_BASEPATH = '@ContentHashCache.ResolvePath("~/Scripts/ckeditor/")';</script>
    @Html.ScriptBundle("CKEditor")
}


<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Store.Store.CustomerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>